<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>过滤器</title>
</head>
<body>
    <div id="app"> 

        <div>
        <input v-model="lenght">mm
                {{lenght|meter}}
        </div>
        <hr>
        <div>
        <input v-model="price">
            {{price | currency(&apos;USD&apos;)}}
            </div>
        </div > 
    
        <script src="vue.js"></script>
        <script src="filter.js"></script>
    
</body>
</html>